<div *ngIf="product" class="row col-11 mx-auto mb-5" >
  <div class="col-12 shadow-effects">
    <div class="row" (mouseover)="overImages()" (mouseout)="focuslost()">
      <div class="col-lg-5 col-sm-12">
        <figure class="figure">
          <img [src]="product.fullImage" class="img-thumbnail" alt="Image">
          <div *ngIf ="product.prices.discountPercentage !== 0" class="topright">-{{product.prices.discountPercentage}}%</div>
        </figure>
      </div>
      <div class="col">
          <div class="col-12 product-title font-weight-bold">{{product.attributes[0].value}} </div>
          <div class="col-12 name-product">{{product.name}}</div>
          <div class="col-12 short-description">{{product.shortDescription}}</div>
          <div class="col-12 price-formattedListPrice">{{product.prices.formattedListPrice}}</div>
          <div class="col-12 price-formattedOfferPrice">{{product.prices.formattedOfferPrice}}</div>
          <div class="col-12 price-formattedCardPrice">{{product.prices.formattedCardPrice}}</div>
      </div>
    </div>
  </div>
</div>
